# venv
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and temporary files
*.log
tmp/
temp/

# Local data / cache
.cache/
.hf_home/

